html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: whitesmoke;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .5s;
}

.container--menu {
    background: linear-gradient(rgb(251, 255, 25), rgb(6, 44, 255));
    z-index: 2;
    text-align: center;
}

.container--main {
    background-color: rgb(1, 0, 65);
    z-index: -2;
}

.js-containerMenu-transparent {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-150%);
    transition: .5s;
}

.appName {
    margin: 80px auto;
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: rgb(0, 0, 82);
}

.button {
    border: none;
    border-radius: 15px;
    background: rgba(251, 255, 25, 0.55);
    color: rgb(0, 0, 82);
    transition: .2s;
}

.button:hover {
    cursor: pointer;
    background: rgba(251, 255, 25, 0.85);
}

.button--menu {
    padding: 15px;
    font-size: 22px;
}

.button--menuBack {
    display: block;
    margin: 60px auto 10px;
    padding: 5px;
}

.fas {
    font-size: 8px;
    color: yellow;
    opacity: 0;
    animation: fallingStars 8s infinite linear;
    position: absolute;
    z-index: -1;
}

.star1 {
    margin-left: 8%;
}

.star2 {
    margin-left: 20%;
    animation-delay: 2s;
}

.star3 {
    margin-left: 32%;
    animation-delay: 1s;
}

.star4 {
    margin-left: 45%;
    animation-delay: 3s;
}

.star5 {
    margin-left: 59%;
    animation-delay: .5s;
}

.star6 {
    margin-left: 72%;
    animation-delay: 1.5s;
}

.star7 {
    margin-left: 85%;
    animation-delay: 2.5s;
}

.star8 {
    margin-left: 7%;
    animation-delay: 4s;
}

.star9 {
    margin-left: 17%;
    animation-delay: 6s;
}

.star10 {
    margin-left: 30%;
    animation-delay: 5s;
}

.star11 {
    margin-left: 43%;
    animation-delay: 6.5s;
}

.star12 {
    margin-left: 57%;
    animation-delay: 4.5s;
}

.star13 {
    margin-left: 75%;
    animation-delay: 5.5s;
}

.star14 {
    margin-left: 87%;
    animation-delay: 6.5s;
}

@keyframes fallingStars {
    0% {
        opacity: 0.3;
    }
    20% {
        margin-top: 20vh;
        transform: scale(1.2);
        opacity: 0.5;
    }
    40% {
        margin-top: 40vh;
        transform: scale(1);
        opacity: 1;
    }
    60% {
        margin-top: 60vh;
        transform: scale(1.2);
        opacity: 0.5;
    }
    80% {
        margin-top: 80vh;
        transform: scale(1);
        opacity: 1;
    }
    100% {
        margin-top: 95vh;
        transform: scale(1);
        opacity: 0;
    }
}

.question {
    font-size: 18px;
    font-weight: bold;
    color: rgb(245, 244, 247);
    margin: 50px auto 0;
    display: block;
    max-width: 300px;
    text-align: center;
}

.question__area {
    border: rgba(41, 73, 255, 0.418);
    box-shadow: 2px 2px 18px 10px rgb(109, 109, 255);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    background: rgba(27, 61, 255, 0.618);
    font-size: 18px;
    color: rgb(228, 228, 228);
}

.stage {
    margin: 50px auto 30px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}

.stage__circle {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: radial-gradient(circle at 65px 65px, #add4ff, #60adff 20%, #000);
}

.stage__circle::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    bottom: 48px;
}

.stage__circle:active {
    animation: glitch-circle .15s 13;
}

@keyframes glitch-circle {
    0% {
        transform: translate(3px, -3px);
    }
    20% {
        transform: translate(-3px, -3px);
    }
    40% {
        transform: translate(-3px, 3px);
    }
    80% {
        transform: translate(3px, 3px);
    }
}

.stage__answer {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Lobster', cursive;
    color: rgb(228, 228, 228);
}